<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  
  <connectionStrings>
    <add name="SQLiteDatabase" connectionString="Data Source=|DataDirectory|gradpath.db;" providerName="System.Data.SQLite"/>
  </connectionStrings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    
    <customErrors mode="Off" defaultRedirect="Error.aspx">
      <error statusCode="403" redirect="Error.aspx" />
      <error statusCode="404" redirect="Error.aspx" />
    </customErrors>
  </system.web>
  
</configuration>