<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
  </configSections>
  
  <!--<add name="MySQLDatabase"
         connectionString=" server=69.195.124.58;
                            uid=douglbd5_sa;
                            password=password;
                            database=douglbd5_csc394;"
         providerName="MySql.Data.MySqlClient"/>-->
    
  <connectionStrings>
    <add name="MySQLDatabase"
         connectionString=" server=db4free.net:3306;
                            uid=csc394group5sa;
                            pwd=group5sapassword;
                            database=csc394group5;"
         providerName="MySql.Data.MySqlClient"/>
    <add name="SQLiteDatabase" connectionString="Data Source=|DataDirectory|gradpath.db;" providerName="System.Data.SQLite" />
  </connectionStrings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    
    <customErrors mode="Off" defaultRedirect="Error.aspx">
      <error statusCode="403" redirect="Error.aspx" />
      <error statusCode="404" redirect="Error.aspx" />
    </customErrors>
  </system.web>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  
</configuration>